[project]
	description = Windows Desktop Pandora Radio Client
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daxit Agarwal (agarwaldax)
[access "refs/for/refs/*"]
	read = group user/Daxit Agarwal (agarwaldax)
	push = group user/Daxit Agarwal (agarwaldax)
	label-Code-Review = -2..+2 group user/Daxit Agarwal (agarwaldax)
	label-Verified = -1..+1 group user/Daxit Agarwal (agarwaldax)
	rebase = group user/Daxit Agarwal (agarwaldax)
	removeReviewer = group user/Daxit Agarwal (agarwaldax)
	submit = group user/Daxit Agarwal (agarwaldax)
[access "refs/heads/*"]
	read = group user/Daxit Agarwal (agarwaldax)
	create = group user/Daxit Agarwal (agarwaldax)
	push = +force group user/Daxit Agarwal (agarwaldax)
	pushMerge = group user/Daxit Agarwal (agarwaldax)
[access "refs/tags/*"]
	push = group user/Daxit Agarwal (agarwaldax)
	push = +force group user/Daxit Agarwal (agarwaldax)
